<?xml version="1.0"?>
<robot name="ax12" xmlns:xacro="https://emanual.robotis.com/docs/en/dxl/ax/ax-12a/">
  <!-- <xacro:include filename="$(find ax12_description)/urdf/ax12.xacro" /> -->
  <xacro:include filename="$(find ax12_description)/urdf/ax12.ros2_control.xacro" />

  <!-- <link name="world"/> -->

  <!-- <xacro:ax12 parent="world"> -->
  <!--   <origin xyz="0 0 0" rpy="0 0 0" /> -->
  <!-- </xacro:ax12> -->

  <xacro:ax12_ros2_control name="ax12_ros2_control" />
</robot>
